*{
  margin: 0; 
  padding: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
body{
  -webkit-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
      background-position: 0% 0%;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
}
.menu{
  position: relative;
  text-align: center;
  font-size: 1.8em;
  background: #fff;
  font-family: "GeosansLight";
  z-index: 100;
  border-bottom: 2px solid #1facb5;
}
.menu ul{
  margin: 0; 
  padding: 0; 
  float: right;
}
.menu li{ 
  list-style: none;
  float: left;
}
.menu li a{
  margin: .9em .9em 0px .9em;
  text-decoration: none;
  display: block;
  color: #000;
}  
.menu.sticky {
  width: 100%;
  position: fixed;
  background: #fff;
}   
.menu li a:hover{
  color:rgba(100,100,100,.3);
}    

.menu li a.stickylinks{
   margin: .5em .7em 0px .7em;
   font-size: .9em;
}
.logo-top.stickylogo{
  width: 100px; 
  padding: 2px 0px; 
  margin: 0;
}
.logo-top{
  width: 150px; 
  padding: 0.3em;
}
.logo-top:hover{
  width: 130px;
}
.window{
  height: 80%;
  overflow: hidden;
}
.logo{
  width: 70%;
}
.overlay
{
  content: "";
  height: 100%;
  width: 100%;
  opacity: .2;
  position: fixed;
  background:url("../images/pattern.png") repeat;
  z-index: -1;
}
.about,.services,.stats,.works,.team{padding: 5em; text-align: center; border-bottom: 1px solid rgba(0,0,0,.1);font-family: "GeosansLight";}
.about{
  background: #fff;
  font-size: 1.2em;
}
.services, .team{
  background: #eee;
}
.heading{
  text-align: center;
  font-family: "raleway";
  font-size: 20pt;
  margin-bottom: 1em;
}
h2 span {
  position: relative;
  color: #222;
  
}
h2 span:after {
  position: absolute;
  content: '';
  width: 15%;
  height: 1px;
  border-bottom: 2px solid #1facb5;
  bottom: -2px;
  left: 50%;
  margin-left: -7.5%;
}

h3 {
  position: relative;
  text-align: center;
}


/* servivce boxes begin */
.service{
    border: 1px solid rgba(100,100,100,.2);
    margin: 2em 0;
}
.service h3{
    text-align: center;
    margin-top: -10px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}
.service h3 span{
    background-color: #eee;
    color: #465a65;
    font-size: 1.8em;
    margin-top: -0.3em;
}
.service p{
  padding: 10px;
  text-align: center;
}
.service h4 {
  position: relative;
  text-align: center;
  font-family: "raleway";
}
.service h4 span {
  background: #eee;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
.service h4:before {
  background: rgba(100,100,100,.2);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
  left: 0;
}
/* servivce boxes end */




.stats{
  background-image: url("../images/background2.jpg");
  background-attachment: fixed;
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  color: #FFF;
  padding: 2em;
}



/*circular counters in the stats section begin*/
.chart{
  height: 50%;
}
.pie_progress {
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.pie_progress svg {
  margin: 0 auto;
}
.pie_progress__content,
.pie_progress__number,
.pie_progress__label,
.pie_progress__icon {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.pie_progress__number {
  font-size: 42px;
}
.pie_progress__label {
  margin-top: 32px;
  font-size: 1.3em;
}
/*circular counters in the stats section end*/

/*isotopes gallery begin*/
.portfolioContainer img{
  width: 25em;
  height: 15em;
  padding: 1em;
}
.portfolioFilter a{
  text-decoration: none;
  display: inline-block;
  padding: .5em 1em;
  margin: 0 .5em;
  text-align: center;
  width: auto;
  border: 1px solid #000;
}
.portfolioFilter a:hover{
  text-decoration: none;
  background-color: rgba(31, 172, 181, .2);
  border: 1px solid rgba(31, 172, 181, .5);
  }
/*isotopes gallery end*/
.works{
  background: #fff;
}
.team{
  height: 50%;
}
@font-face {
  font-family: 'raleway';
  src: url('fonts/raleway.eot') format('embedded-opentype'), 
  url('fonts/raleway.otf') format('otf'),
  url('fonts/raleway.woff') format('woff'), 
  url('fonts/raleway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-regular';
  src: url('fonts/raleway-regular.eot') format('embedded-opentype'), 
  url('fonts/raleway-regular.otf') format('otf'),
  url('fonts/raleway-regular.woff') format('woff'), 
  url('fonts/raleway-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeosansLight';
  src: url('fonts/GeosansLight.eot') format('embedded-opentype'), 
  url('fonts/GeosansLight.otf') format('otf'),
  url('fonts/GeosansLight.woff') format('woff'), 
  url('fonts/GeosansLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




